<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravi.ameliorate">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />



    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:alwaysRetainTaskState="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logow"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:versionCode="2"
        android:versionName="1.1">
        <activity
            android:name="com.ravi.ameliorate.activity.Dictionary"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="com.google.android.voicesearch.SELF_NOTE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ravi.ameliorate.activity.Description"
            android:configChanges="keyboardHidden"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="com.google.android.voicesearch.SELF_NOTE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ravi.ameliorate.activity.AddWord"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.ravi.ameliorate.activity.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.DEFAULT" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ravi.ameliorate.activity.Webview"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme" />
        <activity android:name="com.ravi.ameliorate.activity.NameAcitivity" />

        <activity android:name="com.ravi.ameliorate.activity.RecentActivity"
                  android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>